/*********************BODY****************************/
body{
    margin-right: 5%;
    margin-left: 5%;
}
/*********************HEADER****************************/
header{
    display: flex;
}

header figure{
    margin-left: 0;
}

header nav {
    display: flex;
    align-items: flex-end;
}

nav ul li{
    display: inline;
    list-style-type: none;

}
/*********************MAIN****************************/
.art{
    display: flex;
    border: solid 2px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: yellowgreen ;
}

.art .logo_nv{
    margin-left: 0;
}

.logo_nv img{
    border: solid black 1px;
    border-radius: 5px;
}

.art article p{
    margin-right: 3%;
}

.ImgRTX{
    margin-right: 0;
    margin-left: 0;
}

.ImgRTX img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.transparent{
    background-color: green;
    color: white;
}

.transparent input{
    background-color: yellowgreen;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}

.side{
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.black img{
    height: 40%;
    width: 40%;
}

.side article h2{
    text-align: center;
}

.side figure p{
    text-align: left;
}
.reseaux{
    display: flex;
    justify-content: space-between;
}

/*********************FOOTER****************************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galerie{
    margin-left: 0;
}

.galerie img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.partenaires {
    margin-left: 0;
}

.newsletter{
    height: 150px;
    width: 400px;
}

.info{
    background-color: white;
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
}

#inscription{
    background-color: yellowgreen;
    border: none;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;
}