/*********************BODY****************************/
body{
    margin-right: 5%;
    margin-left: 5%;
}
/*********************HEADER****************************/
header{
    display: flex;
    justify-content: space-between;
}

header figure{
    margin-left: 0;
}

header nav {
    display: flex;
    align-items: flex-end;
    width: 70%;
}

nav ul li{
    display: inline;
    list-style-type: none;
    padding-right: 150px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
/*********************MAIN****************************/
.art{
    display: flex;
    border: solid 2px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: yellowgreen ;
}

.art .logo_nv{
    margin-left: 0;
}

.logo_nv img{
    border: solid black 1px;
    border-radius: 5px;
}

.ImgRTX{
    margin-right: 0;
    margin-left: 0;
}

.ImgRTX img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.transparent{
    display: flex;
    position: absolute;
    background-color: green;
    color: white;
    opacity: 0.6;
    top: 440px;
    width: 90%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}

.transparent a{
    color: white;
    background-color: yellowgreen;
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 5px;
    text-decoration: none;
}

.transparent span{
    margin-left: 10px;
}

.titre {
    display: flex;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.side{
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.black img{
    height: 40%;
    width: 40%;
}

.side article h2{
    text-align: center;
}

.side figure p{
    text-align: left;
}
.reseaux{
    display: flex;
    justify-content: space-between;
}

.reseaux a i{
    color: white;
    font-size: 35px;
}

/*********************FOOTER****************************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.triangle{
    display : inline-block;
    position: relative;
    border-top : 40px solid yellowgreen;
    border-right : 23px solid transparent;
    border-left : 22px solid transparent;
    left: 15%;
   }

.galerie{
    margin-left: 0;
}

.galerie img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

#NvidiaImg{
    cursor: pointer;
    transition: 0.3s; 
}

#geforceimg{
    cursor: pointer;
    transition: 0.3s; 
}

#f2u{
    cursor: pointer;
    transition: 0.3s; 
}

#rtxlap{
    cursor: pointer;
    transition: 0.3s; 
}

#NvidiaImg:hover{opacity: 0.7;}
#geforceimg:hover{opacity: 0.7;}
#f2u:hover{opacity: 0.7;}
#rtxlap:hover{opacity: 0.7;}

.modal{
    display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

#caption{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption2{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption3{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

#caption4{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }

.modal-content, #caption2{
    animation-name: zoom;
    animation-duration: 0.6s;
}
.modal-content, #caption3{
    animation-name: zoom;
    animation-duration: 0.6s;
}
.modal-content, #caption4{
    animation-name: zoom;
    animation-duration: 0.6s;
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;   
}

.close2{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;   
}

.close3{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;   
}

.close4{
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;   
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close2:hover,
.close2:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close3:hover,
.close3:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.close4:hover,
.close4:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

div h3{
    margin-top: 10%;
}

.marge h3{
    margin-top: 20%;
}
.newsletter h3{
    margin-top: 11%;
}

.partenaires {
    margin-left: 0;
}

.newsletter{
    height: 150px;
    width: 400px;
}

.info{
    background-color: white;
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
}

#inscription{
    background-color: yellowgreen;
    border: none;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;
}

/******************MEDIA*******************/

@media  screen and (min-width: 319px)and (max-width:719px){
    .art{
        display: flex;
        flex-wrap: wrap;
    }
    body{
        width: 500px;
        margin-left: 20%;
        margin-right: 20%;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
    }
    .triangle{
        display : inline-block;
        position: absolute;
        border-top : 40px solid yellowgreen;
        border-right : 23px solid transparent;
        border-left : 22px solid transparent;
        left: 275px;
       }
       .transparent{
        display: flex;
        position: absolute;
        background-color: green;
        color: white;
        opacity: 0.6;
        top: 480px;
        width: 460px;
        height: 5%;
        justify-content: space-between;
        align-items: center;
    }
    nav ul li{
        display: inline;
        list-style-type: none;
        padding-right: 150px;
        font-size: 25px;
    }
    .art article p{
        font-size: 22px;
    }
    .side figure p{
        text-align: left;
        font-size: 22px;
    }
    main{
        margin-right: 8%;
    }
    .reseaux a i{
        color: white;
        font-size: 50px;
    }
    .partenaires a img{
        height: 95px;
    }
    .modal-content {
        width: 100%;
      }
}

@media screen and (min-width: 425px)and (max-width: 425px){
    .triangle{
        display : inline-block;
        position: absolute;
        border-top : 40px solid yellowgreen;
        border-right : 23px solid transparent;
        border-left : 22px solid transparent;
        left: 295px;
       }
}

@media screen and (min-width: 375px)and (max-width: 375px){
    .triangle{
        display : inline-block;
        position: absolute;
        border-top : 40px solid yellowgreen;
        border-right : 23px solid transparent;
        border-left : 22px solid transparent;
        left: 287px;
       }
}

@media screen and (min-width: 720px)and (max-width: 1280px){
    nav ul li{
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
    header nav {
        display: flex;
        align-items: flex-end;
        width: 75%;
    }
    nav ul {
        padding: 0;
    }
    div h3{
        margin-top: 20%;
    }
    
    .marge h3{
        margin-top: 35%;
    }
    .newsletter h3{
        margin-top: 21%;
    }
    .transparent{
        display: flex;
        position: absolute;
        background-color: green;
        color: white;
        opacity: 0.6;
        top: 445px;
        width: 90%;
        height: 5%;
        justify-content: space-between;
        align-items: center;
    }
    .reseaux{
        display: flex;
        justify-content: space-between;
        flex-flow: wrap;
    }
    .marge{
        text-align: end;
    }
    .modal-content {
        width: 100%;
      }
}
