/*********************BODY****************************/
body{
    margin-right: 5%;
    margin-left: 5%;
}
/*********************HEADER****************************/
header{
    display: flex;
    justify-content: space-between;
}

header figure{
    margin-left: 0;
}

header nav {
    display: flex;
    align-items: flex-end;
    width: 70%;
}

nav ul li{
    display: inline;
    list-style-type: none;
    padding-right: 150px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}
/*********************MAIN****************************/
.art{
    display: flex;
    border: solid 2px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: yellowgreen ;
}

.art .logo_nv{
    margin-left: 0;
}

.logo_nv img{
    border: solid black 1px;
    border-radius: 5px;
}

.ImgRTX{
    margin-right: 0;
    margin-left: 0;
}

.ImgRTX img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.transparent{
    display: flex;
    position: absolute;
    background-color: green;
    color: white;
    opacity: 0.8;
    top: 440px;
    width: 90%;
    height: 5%;
    justify-content: space-between;
    align-items: center;
}

.transparent a{
    color: white;
    background-color: yellowgreen;
    padding: 10px 15px;
    border-radius: 8px;
    margin-right: 5px;
    text-decoration: none;
}

.transparent span{
    margin-left: 10px;
}

.titre {
    display: flex;
}

h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
}

.side{
    background-color: yellowgreen;
    color: white;
    text-align: center;
}

.black img{
    height: 40%;
    width: 40%;
}

.side article h2{
    text-align: center;
}

.side figure p{
    text-align: left;
}
.reseaux{
    display: flex;
    justify-content: space-between;
}

.reseaux a i{
    color: white;
    font-size: 35px;
}

/*********************FOOTER****************************/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galerie{
    margin-left: 0;
}

.galerie img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.partenaires {
    margin-left: 0;
}

.newsletter{
    height: 150px;
    width: 400px;
}

.info{
    background-color: white;
    height: 30px;
    width: 200px;
    margin-bottom: 5px;
}

#inscription{
    background-color: yellowgreen;
    border: none;
    color: white;
    cursor: pointer;
    height: 35px;
    width: 100px;
}